#Dark {
  background-color: #243447;
  color: #fff;
  transition: 0.5s;
}

input#Dark {
  color: #fff;
}

button#Dark {
  color: #fff;
}

#Light {
  background-color: #fff;
  color: #121212;
  transition: 0.5s;
}


.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.Column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

