.App {
  font: italic;
  min-height: 100vh;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.WeatherContainer {
  display: flex;
  align-items: center;
}

.searchCityForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 15%;
  margin-right: 15%;
}

.MainDataContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.MainWeatherDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*flexDirection: "row", width: "100%",*/
}

.MainWeatherComponentContainer {
  flex: 2;
}

.googleMapContainer {
  height: 40vh;
  width: 100%;
}

.CardContentContainer {
  flex: 2;
  border: 1px solid black;
}

.CardSecondContentContainer {
  flex: 1;
}

.MapContainer {
  flex: 1;
}

.FlexContainer {
  flex: 1;
}

.CardComponent {
  max-width: 40vw;
  width: 100%;
}

/*
  DARK THEME CSS 
*/

#Dark button {
  border: 1px solid #fff;
  color: #fff;
  transition: 0.5s;
}

#Dark input {
  color: #fff;
  transition: 0.5s;
}

#Dark .CardContentContainer,
#Dark .CardSecondContentContainer {
  border: 1px solid white;
}

#Dark .MuiInput-underline:after,
#Dark .MuiInput-underline:before {
  border-bottom: 2px solid white !important;
}

#Dark .input__label {
  color: #fff !important;
  transition: 0.5s;
}

#Dark .dialogModal {
  background-color: #141d26;
}

#Dark .searchLabel {
  border: 1px solid #fff;
  color: #fff !important;
  transition: 0.5s;
}

#Dark .MainWeatherComponent {
  background-color: #141d26;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
}

#Dark .CardComponent {
  background-color: #141d26;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
}

#Light button {
  border: 1px solid #141d26;
  color: #141d26;
  transition: 0.5s;
}

#Light .MainWeatherComponent {
  background-color: #e1e8ed;
  border: 1px solid #141d26;
  border-radius: 8px;
  color: black;
}

#Light .CardComponent {
  background-color: #e1e8ed;
  border: 1px solid #141d26;
  border-radius: 8px;
  color: black;
}

#Light .input__label {
  color: black !important;
  transition: 0.5s;
}

#Light .CardContentContainer {
  flex: 2;
  border: 1px solid #141d26;
}

#Light .CardSecondContentContainer {
  border: 1px solid #141d26;
}

#Light .MuiInput-underline:after,
#Light .MuiInput-underline:before {
  border-bottom: 2px solid black !important;
}

/*
  LIGHT THEME CSS 
*/

/*
MEDIA QUERIES
*/

@media (min-width: 768px) {
  .MainWeatherDescription {
    flex-direction: row;
  }
}
